@font-face {
  font-family: "CaveatRegular";
  src: url(fonts/SingwayRegular-ZVl2B.ttf) format("truetype");
}
body {
  background: black;
  color: white;
  font-family: "CaveatRegular";
  cursor: url(curser.png), pointer;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
  z-index: 1000;
}
a:hover {
  cursor: url(curserhaver.png), pointer;
  transition: 0.3s;
  z-index: 1000;
}
ul.home {
  display: inline;
  z-index: 100;
}

li.home {
  display: inline;
  color: white;
  margin: 30px;
  z-index: 100;
  position: relative;
}

li.home a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  opacity: 0.5;
  z-index: 1000;
  position: relative;
}

li.home:hover {
  cursor: url(curserhaver.png), pointer;
  z-index: 1000;
  position: relative;
}

li.home a:hover {
  opacity: 1;
  transition: 0.3s;
  z-index: 100;
  position: relative;
}

ul.home {
  margin-top: 10px;
  z-index: 100;
  position: relative;
}

ul.list-cal {
  display: block;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /* z-index: 1000; */
  /* width: auto; */
  position: relative;
}

li.list-cal {
  font-size: 77px;
  display: inline-block;
  opacity: 0.2;
  transition: 0.3s;
  padding: 10px 33px;
  /* z-index: 100; */
  position: relative;
  /* margin: 0 19px; */
}

li.list-cal:hover {
  opacity: 1 ;
  transition: 0.3s opacity ease;
  position: relative;
}

ul.list-cal li.list-cal:not(:hover) {
  opacity: 0;
}

a.link:hover img {
  display: inline;
  transition: 0.3s;
}

header {
  margin-top: 10px;
  z-index: 100;
  position: relative;
}

/* img.op1 {
  position: relative;
  overflow: hidden;
  width: 239%;
  top: -84%;
  right: 77%;
}



img.op2 {
  position: relative;
  overflow: hidden;
  width: 250%;
  top: 0;
}

img.op3.bx3 {
  position: relative;
  overflow: hidden;
  width: 270%;
  float: inline-end;
} */
img {
  z-index: 10000;
}
img.op1.bx1 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: 68%;
  right: -92%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op2.bx2 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: 68%;
  right: 7%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op3.bx3 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: 68%;
  right: 108%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op4.bx4 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -32%;
  right: -92%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}
img.op5.bx5 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -32%;
  right: 8%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op6.bx6 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -32%;
  right: 108%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op7.bx7 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -132%;
  right: -92%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op8.bx8 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -132%;
  right: 9%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op9.bx9 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -132%;
  right: 109%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op10.bx10 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -232%;
  right: -93%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op11.bx11 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -232%;
  right: 8%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

img.op12.bx12 {
  width: 74%;
  position: absolute;
  display: none;
  transition: 0.3s;
  top: -232%;
  right: 109%;
  border-radius: 4px;
  border: 10px solid white;
  border-bottom: 40px solid;
}

p {
  text-align: center;
  font-size: 16px;
}

span.cat img {
  width: 18px;
  display: inline-block;
}


