@font-face {
  font-family: "CaveatRegular";
  src: url(fonts/SingwayRegular-ZVl2B.ttf) format('truetype');
}
body {
  background: black;
  color: white;
  font-family: "CaveatRegular";
  cursor: url(curser.png),pointer;
  transition: 0.3s;
  background-image: url(img/right-one1.png);
  background-position: top;
  background-size: 70%;
  background-repeat: no-repeat;
  /* overflow-y: hidden; */
}

button:hover {
  cursor: url(curserhaver.png),pointer;
  z-index: 10;
}
button {
  display: inline;
  z-index: 10;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  cursor: url(curserhaver.png),pointer;
  transition: 0.3s;
  z-index: 10;
}

.img-home {
  display: inline-block;
  width: 530px;
  height: 490px;
  position: relative;
  overflow: hidden;
  float: right;
}

.img-home img {
  position: absolute;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

ul.home {
  display: inline;
  z-index: 10;
}

li.home {
  display: inline;
  color: white;
  margin: 30px;
}

li.home a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  opacity: 0.5;
}

li.home:hover {
  cursor: url(curserhaver.png),pointer;
}


.back {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: inline;
  opacity: 0.8;
  z-index: -1;
}

.back-img {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.head-home {
  position: absolute;
  z-index: 10;
}


.info-home {
  display: flex;
  position: absolute;
  top: 17%;
}

.info-home {
  display: flex;
  position: absolute;
  top: 17%;
}

button.goto {
  /* top: 40%; */
  display: inline-block;
  /* position: relative; */
  background: none;
  border: 1px white solid;
  border-radius: 6px 10px 8px 17px;
  color: white;
  padding: 5px 21px;
  transition: 0.3s;
  /* box-shadow: 0 0 13px #8080805c; */
  opacity: 0.5;
  margin: 5% 0 0 60%;
}

h6 {
  color: #ffffffcf;
  line-height: 24px;
  margin: 1rem 0 0 5.5rem;
  font-size: 19px;
}

button.goto:hover {
  box-shadow: 0 0 13px #c9c9c9e6;
  opacity: 1;
  transition: 0.3s;
}

li.home a:hover {
  opacity: 1;
  transition: 0.3s;
}

ul.home {
  margin-top: 10px;
}

header {
  margin-top: 10px;
}


h1 {
  margin: 0 0 0 6%;
  font-size: 48px;
}


